.header {
  height: var(--header-height);
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  isolation: isolate;
  transition: 400ms transform ease;
  width: 100vw;
  z-index: 100;

  &.hidden {
    transform: translateY(-100%);
  }

  .content {
    color: var(--foreground);
    position: relative;
    z-index: 30;
  }

  &:before {
    content: "";
    background: linear-gradient(to bottom, #000000 30%, transparent);
    height: desktop-vw(300px);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 400ms all ease;
    z-index: 5;
  }

  .logoC {
    background-color: var(--bright-moon);
    border: 1px solid var(--pine-needle);
    bottom: auto;
    height: desktop-vw(190px);
    left: 50%;
    padding: desktop-vw(8px);
    position: absolute;
    right: auto;
    top: 50%;
    transform: translateX(-50%) translateY(-15%);
    transform-origin: top center;
    transition: 400ms all ease;
    width: desktop-vw(280px);
    z-index: 30;
  }

  .trigger {
    z-index: 1600;

    @include mobile {
      margin-left: auto;
      z-index: 200;
      width: mobile-vw(24px);
      height: mobile-vw(24px);
    }
  }

  .nav {
    color: var(--foreground);
    position: relative;
    z-index: 20;

    @include mobile {
      bottom: 0;
      left: 0;
      opacity: 0;
      padding: mobile-vw(16px);
      pointer-events: none;
      position: fixed;
      right: 0;
      top: 0;
      transition: 400ms opacity ease;
      z-index: 100;

      &.active {
        opacity: 1;
        pointer-events: auto;
      }
    }

    .navItem {
      font-size: desktop-vw(14px);
      font-weight: 400;

      @include mobile {
        font-size: mobile-vw(18px);
      }
    }
  }

  /* &.slim {
    &:before {
      opacity: 0;
    }

    .logoC {
      padding: desktop-vw(4px);
      transform: translateX(-50%) translateY(-50%);
      width: calc(var(--header-height) - 8px);
      height: calc(var(--header-height) - 8px);

      @include mobile {
        position: absolute;
        top: 50%;
        right: auto;
        bottom: auto;
        left: 50%;
        transform: none;
        padding: 0;
        transform: translate(-50%, -50%);
        z-index: 200;
        width: calc(var(--header-height) - 12px);
        height: calc(var(--header-height) - 12px);
      }

      &:before {
        width: 100%;
        height: 30%;
      }
    }
  } */
}
