.gallery {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.cards {
  position: absolute;
  width: 20rem;
  height: 25rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 20rem;
  height: 25rem;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.actions {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}
