mux-player {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;

  --controls: none;
  --media-object-fit: cover;
  --loading-indicator: none;
  --play-button: none;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  --captions-button: none;
  --airplay-button: none;
  --pip-button: none;
  --fullscreen-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --volume-range: none;
  --time-range: none;
  --time-display: none;
  --duration-display: none;
  --rendition-menu-button: none;
  --center-controls: none;
  --bottom-play-button: none;
}
