.stickyBadge {
  pointer-events: auto;
  /* position: fixed;
  top: calc(var(--header-height) / 2);
  transform: translateY(-50%);
  transition: 400ms all ease;
  right: desktop-vw(40px); */
  z-index: var(--z-book-button);

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}
