.form {
  bottom: 0;
  height: var(--svh-calc);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
  display: none;
  @include-media ('tablet') {
    height: auto;
    display: none;
  }
  @include-media ('desktop') {
    height: 100%;
    display: block;
  }
}
