.frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: calc(100% - 100vh);
  pointer-events: none;
  z-index: 100;
}
.title {
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  top: mobile-vw(75px);
  width: 96vw;
  z-index: 150;

  @include-media ('tablet') {
    top: tablet-vw(100px);
    width: tablet-vw(700px);
  }
  @include-media ('desktop') {
    top: desktop-vw(100px);
    transform: translate(0, 0);
    left: desktop-vw(100px);
    width: desktop-vw(1230px);
    white-space: nowrap;
  }
}
