.container {
  position: relative;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */

  z-index: 1000;

  outline: 8px solid blue;
  -outline-offset: -8px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  outline: 4px dashed red;
  -outline-offset: -4px;
}

/* Object is wider than container: fit height (fill height, crop sides) */
.fitHeight {
  height: 100%;
  aspect-ratio: var(--ratio);
}

/* Object is narrower than container: fit width (fill width, crop top/bottom) */
.fitWidth {
  width: 100%;
  aspect-ratio: var(--ratio);
}
